@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-blue: #4d6fe0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #7171ce;
  color: #fff;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

/* Helper Classes */
.flex__center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex__between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.color--primary {
  color: var(--primary-blue);
  font-weight: bold;
}

.calculator {
  width: 400px;
  background: #272639;
  border-radius: 15px;
}

.calculator__heading {
  text-align: center;

  font-size: 2rem;
  padding-top: 1rem;
}

.calculator__fieldset {
  background: #fff;
  color: #786d6d;
  font-weight: bold;
  padding: 1.5rem 1.5rem 0.3rem;
  border: none;
  margin: 1rem 2rem;
  border-radius: 10px;

  font-size: 0.8rem;
  overflow-x: hidden;
}

.field__row {
  margin-bottom: 1rem;
}

.input--bill {
  background: var(--primary-blue);
  border-radius: 15px;
  padding: 0.3rem 1.5rem;
  margin-left: auto;
  border: none;
  color: #fff;
  font-family: inherit;
  font-weight: bold;
  width: 50%;
}

.wrapper--bill {
  position: relative;
  margin-right: -110px;
}

.input--bill:focus {
  outline: 2px solid #fff;
}
.input--bill::placeholder {
  color: #fff;
}
.input--dollar {
  position: absolute;
  top: 4px;
  left: 10px;
  color: #fff;
}

.row--highlight {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  position: relative;
}

.row--highlight::after {
  content: '';
  width: 120%;
  height: 1px;
  background: #c4c4c4;
  position: absolute;
  left: -30px;
  top: 5px;
}
.highlight--value {
  font-size: 1.5rem;
  color: var(--primary-blue);
}

.row--person {
  margin: 1.5rem 0 1rem;
}

/* Tip Per Person Fiedlset*/
.input--range {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  cursor: pointer;
  background: black;
}

/* Round Fieldset */
.filedset--round {
  padding: 3.5rem 1rem 2rem;
  position: relative;
}

.fieldset__legend {
  text-align: center;
  position: absolute;
  top: 14px;
  left: 112px;
  font-size: 1rem;
}


.Switcher {
  position: relative;
  display: flex;
  border-radius: 5em;
  /* box-shadow: inset 0 0 0 1px; */
  overflow: hidden;
  cursor: pointer;
  -webkit-animation: r-n 0.5s;
  animation: r-n 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* font-size: 3vmin; */
  font-size: 0.9rem;
  will-change: transform;
  border: 3px solid #5e5eed;
}
.Switcher__checkbox:checked + .Switcher {
  -webkit-animation-name: r-p;
  animation-name: r-p;
}

.Switcher::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200%;
  background: #5e5eed;
  transform: translateX(-75%);
  /* transition: transform 0.2s ease-in-out; */
}
.Switcher__checkbox:checked + .Switcher::before {
  transform: translateX(25%);
}

.Switcher__trigger {
  position: relative;
  z-index: 1;
  padding: 0.5em 4em;

}
.Switcher__trigger::after {
  content: attr(data-value);
}
.Switcher__trigger::before {
  --i: var(--x);
  content: attr(data-value);
  position: absolute;

  color: #333;

  transition: opacity 0.3s;
  opacity: calc((var(--i) + 1) / 2);
  transition-delay: calc(0.3s * (var(--i) - 1) / -2);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.box {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  perspective: 100px;
}
