@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-blue: #4d6fe0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* html {
  font-size:62.5%;
} */

body {
  background: #7171ce;
  color: #fff;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

/* Helper Classes */
.flex__center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex__between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.color--primary {
  color: var(--primary-blue);
  font-weight: bold;
}

.calculator {
  width: 400px;
  background: #272639;
  border-radius: 15px;
}

.calculator__heading {
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
  font-size: 3rem;
}

.calculator__fieldset {
  background: #fff;
  color: #827676;
  font-weight: bold;
  padding: 1.5rem 1.5rem 0.3rem;
  border: none;
  margin: 2rem;
  border-radius: 10px;

  font-size: 0.8rem;
  overflow-x: hidden;
}

.field__row {
  margin-bottom: 1rem;
}

.input--bill {
  background: var(--primary-blue);
  border-radius: 15px;
  padding: 0.3rem 1.5rem;
  margin-left: auto;
  border: none;
  color: #fff;
  font-family: inherit;
  font-weight: bold;
  width: 50%;
}

.wrapper--bill {
  position: relative;
  margin-right: -110px;
}

.input--bill:focus {
  outline: 2px solid #fff;
}
.input--bill::placeholder {
  color: #fff;
}
.input--dollar {
  position: absolute;
  top: 4px;
  left: 10px;
  color: #fff;
}

.row--highlight {
  padding-top: 1rem;
  padding-bottom:0.5rem;
  position: relative;
}

.row--highlight::after {
  content: '';
  width: 120%;
  height: 1px;
  background: #c4c4c4;
  position: absolute;
  left: -30px;
  top: 5px;
}
.highlight--value {
  font-size: 1.5rem;
  color: var(--primary-blue);
}

.row--person {
  margin:1.5rem 0 1rem;
}

/* Second Filedset */
.input--range {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  cursor: pointer;
}

