@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

/******************************************
// ###           General Setup         ####  
*******************************************/
:root {
  --primary-red: #f64445;
  --primary-orange: #ffc762;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: #f64445;
  background: -o-linear-gradient(281deg, #f64445 0%, #611cac 100%);
  background: linear-gradient(169deg, #f64445 0%, #611cac 100%);
  font-family: 'Poppins', sans-serif;
  display: grid;
  place-content: center;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #fff;
}

button,
input {
  font-family: inherit;
}
button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/******************************************
// ###           Helper Classses       ####  
*******************************************/
.hide {
  display: none;
}

.highlight {
  color: var(--primary-red);
}

/******************************************
// ###             Panel               ####  
*******************************************/
.panel {
  background: #000000;
  padding: 2rem 3rem 1.5rem;
  margin: 3rem 0;
  border-radius: 5px;
  width: 1000px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.panel__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
  position: relative;
}
.panel__heading {
  color: #fff;
  font-size: 2.2rem;
}

.panel__input {
  padding: 1rem 2rem;
  width: 40rem;
  background: transparent;
  border: 1px solid rgb(104, 104, 104);
  border-radius: 50px;
  color: #fff;
  margin-top: 1rem;
  outline: 1px solid rgb(104, 104, 104);
}

.panel__input:active,
.panel__input:focus {
  outline: 1px solid var(--primary-red);
  border: 1px solid var(--primary-red);
}

.icon__search {
  position: absolute;
  top: 22px;
  right: 16px;
  color: gray;
  font-size: 1.5rem;
}

.hero__img {
  width: 40%;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -1px var(--primary-orange);
}

/******************************************
// ###              Search             ####  
*******************************************/
.search__container {
  width: 38rem;
  position: absolute;
  top: 55px;
  right: 8px;
  z-index: 100;
}

.search__list {
  background: #000;
  height: 200px;
  overflow: auto;
  border-bottom: 3px solid var(--primary-orange);
}
.search__item {
  font-weight: bold;
  padding: 0.5rem 1rem 1rem 0;
}
.search__link {
  display: flex;
  align-items: center;
  color: #fff;
}
.search__img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 1rem;
}

/******************************************
// ###            Panel Hero           ####
*******************************************/
.panel__hero {
  display: flex;
  padding-bottom: 2rem;
}
.hero__content {
  padding: 0 2rem 0 3rem;
  width: 100%;
  margin-left: 2rem;
  margin: 0 1.1rem;
}
.hero__name {
  text-transform: uppercase;
  margin-top: -6px;
  letter-spacing: 4px;
  font-size: 2.2rem;
}

.state__tabs {
  margin: 2rem 0;
  position: relative;
}

.state__tabs::after {
  content: '';
  width: 509px;
  height: 5px;
  background: gray;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.state__tab:not(:last-of-type) {
  margin-right: 3.5rem;
}

.state__tab {
  text-transform: uppercase;
  font-size: 1.4rem;
  background: transparent;
  color: #fff;
  padding-bottom: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.active {
  border-bottom: 5px solid var(--primary-red);
  position: relative;
  z-index: 2;
}

/******************************************
// ###        Power State Article      ####
*******************************************/
/* Power stats */

.article__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1.5rem;
}
.article__row:not(:last-of-type) {
  margin-top: 3.3rem;
  margin-bottom: 3.3rem;
}
.row__content {
  display: flex;
  align-items: center;
}
.row__icon {
  margin-right: 2.3rem;
}
.icon--shield {
  color: var(--primary-red);
}

.row__description {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1.4rem;
  margin-top: 1px;
}

.info--text {
  color: var(--primary-orange);
  font-weight: bold;
}

/******************************************
// ###        Biography Article        ####
*******************************************/
/* Biography */
.biography .article__row {
  justify-content: flex-start;
}

.biography .article__row:not(:last-of-type) {
  margin-top: 3.3rem;
  margin-bottom: 3.3rem;
}
.row__heading {
  color: #898989;
  margin-right: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
}

.row__details {
  font-weight: 400;

  font-size:1.4rem;
}

/******************************************
// ###         Apperance Article        ####
*******************************************/
.info--box {
  color: #fff;
  background: var(--primary-red);
  text-transform: capitalize;
  font-weight: bold;
  padding: 0.2rem 1rem;
  border-radius: 10px;
  font-size: 1.4rem;
}

.icon--star {
  color: yellow;
}

/******************************************
// ###         Connections Article       ####
*******************************************/

.connections__heading {
  color: gray;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 2rem 0 1.5rem;
  position: relative;
  padding-left: 3rem;
}

.connections__heading::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background: orange;
}
.connections__content {
  max-width: 500px; /* set the width of the container */
}
.connections__content:nth-of-type(2) {
  margin-top: 3rem;
}
.connections__text {
  line-height: 1.7;
  font-size:1.4rem;

}
