@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background: #6572eb;
  color: #333;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.card {
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  border-left: 20px solid #31d695;
  margin:0 2rem;
}

.card__heading {
  text-align: center;
  font-size: clamp(1.5rem, 0.75rem + 2vw, 2.5rem);
  margin: 1rem 0;
}

.card__quote {
  position: relative;
  width: 80%;
  margin: 2rem auto;
  text-align: center;
}

.fa-quote-left,
.fa-quote-right {
  font-size: 1.4rem;
  margin: 0.5rem;
  position: absolute;
  color: #31d695;
}

.fa-quote-left {
  top: -30px;
  left: -30px;
}

.fa-quote-right {
  right: -20px;
}

.quote__author {
  text-align: right;
  font-style: italic;
  font-weight: 500;
  padding-bottom: 1rem;
}

.card__actions {
  border-top: 2px solid #dedede;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.btn--icon {
  color: #6572eb;

  background: transparent;
  padding: 0.8rem 1rem;
  font-size: 0.9rem;
  border-radius: 50%;
  border: 2px solid #6572eb;

  margin-right: 4px;
}
.btn--icon:hover {
  color: #fff;
  background: #6572eb;
}
.btn--icon:active {
  transform: translateY(3px);
  border: 2px solid #6572eb;
}

.btn--copy {
  position: relative;
}
.btn--copy::before {
  content: 'Copied!';
  position: absolute;
  top:-39px;
  left:-10px;
  background:#6572eb;
  color:#fff;
  padding:0.4rem;
  border-radius: 15px;
  display:none;
  font-weight: bold;
}
.btn--copy::after {
  content:"";
  position: absolute;
  top:-16px;
  right:20px;
  width:10px;
  height:10px;
  background:#6572eb;
  transform:rotate(45deg);
  display:none;
}

.copied.btn--copy::before,
.copied.btn--copy::after {
  display:block;
}

.btn--quote {
  background: hsl(234, 77%, 66%);
  color: #fff;
  padding: 0.6rem 1.4rem;
  border-radius: 15px;
  border: none;
  font-weight: bold;
}

.btn--quote:hover {
  background: hsl(234, 77%, 56%);
}


.btn--quote:disabled {
  background:gray;
  cursor:not-allowed;
}